<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'img1', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'img2', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'img3', class: 'd-block w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<br>

<section id="about" class="wow fadeInUp">
 <div class="container">
  <div class="row">
    <div class="col-lg-6 about-img">
      <%= image_tag 'about-img', class: 'tamanho-image' %>
    </div>

    <div class="col-lg-6 content">


      <h2>Sobre a Associação</h2>
      <h3>OA Associação dos Moradores do Sítio Carás do Umarí é uma instituição privada, localizada na Zona Rural do municipio de Juazeiro Do Norte - CE. Fundada em 04/01/1987 pelo morador da comunidade, o senhor Manoel do Nascimento. Desde do seu surgimento, estamos mobilizando os moradores da comunidade para juntos construirmos projetos que venham melhorar a qualidade de vida dos agricultores e moradores residentes na localidade. Nossos projetos incluem temas como atividades agrículas, salário maternidade rural, aposentadoria rural, seguro safra, integração de moradores, além de outros.</h3>

      <h3> Na associação encontra-se </h3>
      <ul>
        <li><i class="fas fa-home"></i>  Mais de 350 moradias;</li>
        <li><i class="fas fa-volleyball-ball"></i>  Quadra poliesportiva;</li>
        <li><i class="fas fa-store-alt"></i></i>  Estabelecimentos de outras finalidades (comercial, religioso, outros) ;</li>
        <li><i class="fas fa-clinic-medical"></i>  Posto de Saúde;</li>
        <li><i class="fas fa-users"></i>  Estimativa de mais de 900 moradores.</li>
        É importante que um número cada vez maior de moradores se associe.

        Com a contribuíção de todos associados poderemos melhorar a nossa qualidade de vida e fazer da nossa comunidade um local ideal para viver, investir e curtir a natureza.
      </ul>
      É importante que um número cada vez maior de moradores se associe.

      Com a contribuíção de todos associados poderemos melhorar a nossa qualidade de vida e fazer da nossa comunidade um local ideal para viver, investir e curtir a natureza.
    </div>
  </div>
</div>
</section>

<section id="services">

  <div class="container">
    <div class="section-header">
      <h2>Projetos Desenvolvidas</h2>
    </div>

    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-lg-6">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fas fa-globe-americas"></i></div>
          <h4 class="title"><%= link_to post.title, post %></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>



<section id="clients" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Associe-se</h2>
      <p> Seja associado a nossa empresa! </p>
    </div>

    <div class="col text-center">
      <button type="button" class="btn btn-primary">Associe-se</button>
    </div>

  </div>
</section><!-- #clients -->
