<!---<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
    <trix-editor input = "post_body"> </trix-editor>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->


<div class="small-middle-container text-success"> 
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <strong> <%= form.label 'Título' %> </strong>
      <%= form.text_field  :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <strong> <%= form.label 'Texto' %> </strong>
      <%= form.hidden_field :body, id: :post_body, class: 'form-control' %>
      <br>
      <trix-editor input = "post_body"> </trix-editor>
    </div>
    <div class="form-group">
      <%= link_to 'Voltar', posts_path, class: 'btn btn-primary text-white btn-success float-left' %>
     <%= form.submit 'Enviar' , class: 'btn btn-primary btn-success float-right' %>
   </div>
 <% end %>
</div>

<br>
<br>