<p id="notice"><%= notice %></p>

<br>
<br>
<center>
<div class="container h-100 page-padding">
	<div class="card card-padding">
		<div class="card-body text-justify">
			<h2 class="card-title">Projetos Comunitários</h2>

			<button type="button" class="btn btn-outline-info text-center">
<%= link_to 'Novo post', new_post_path %>
</button>

			
			<% @posts.each do |post| %>
			<h4><%= link_to post.title, post %></h4>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Remover', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</div>
	</div>
</div>
</div>
</center>
<br>
