<p id="notice"><%= notice %></p>

<br>
<div class="container">
<h2 class="text-success text-center">Posts</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Preview</th>
      <th colspan="3"> Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td ><%= truncate(post.body, length: 90) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

<%= link_to 'New Post', new_post_path %>
