<%= form_with(model: associate, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
      <% associate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
<center>
<div class="card" style="width: 40rem;">
  <div class="card-body">
<form>
  <div class="form-group" style="text-align: left;">
      <%= form.label :nome %>
       <%= form.text_field :nome, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
      <%= form.label :sobrenome %>
      <%= form.text_field :sobrenome, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
       <%= form.label :rua %>
      <%= form.text_field :rua, class: 'form-control', disabled: true %>
  </div>

   <div class="form-group" style="text-align: left;">
    <%= form.label :bairro %>
    <%= form.text_field :bairro, class: 'form-control', disabled: true %>
  </div>
 
  <div class="form-group" style="text-align: left;">
    <%= form.label :numero %>
    <%= form.text_field :numero, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, class:  'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :uf %>
    <%= form.text_field :uf, class: 'form-control', disabled: true %>show associa
  </div>

  <div class="form-group" style="text-align: left;" >
    <%= form.label :cep %>
    <%= form.text_field :cep, class: 'form-control', disabled: true%>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :complemento %>
    <%= form.text_field :complemento, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :ddd %>
    <%= form.text_field :ddd, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, class: 'form-control', disabled: true%>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', disabled: true %>
  </div>
</form>
</div>
</div>
<% end %>
</center>