<p id="notice"><%= notice %></p>

<h1>Associates</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Rua</th>
      <th>Bairro</th>
      <th>Numero</th>
      <th>Cidade</th>
      <th>Uf</th>
      <th>Cep</th>
      <th>Complemento</th>
      <th>Ddd</th>
      <th>Telefone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associates.each do |associate| %>
      <tr>
        <td><%= associate.nome %></td>
        <td><%= associate.sobrenome %></td>
        <td><%= associate.rua %></td>
        <td><%= associate.bairro %></td>
        <td><%= associate.numero %></td>
        <td><%= associate.cidade %></td>
        <td><%= associate.uf %></td>
        <td><%= associate.cep %></td>
        <td><%= associate.complemento %></td>
        <td><%= associate.ddd %></td>
        <td><%= associate.telefone %></td>
        <td><%= associate.email %></td>
        <td><%= link_to 'Show', associate %></td>
        <td><%= link_to 'Edit', edit_associate_path(associate) %></td>
        <td><%= link_to 'Destroy', associate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Associate', new_associate_path %>
