<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @associate.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @associate.sobrenome %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @associate.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @associate.bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @associate.numero %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @associate.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @associate.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @associate.cep %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @associate.complemento %>
</p>

<p>
  <strong>Ddd:</strong>
  <%= @associate.ddd %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @associate.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @associate.email %>
</p>

<%= link_to 'Edit', edit_associate_path(@associate) %> |
<%= link_to 'Back', associates_path %>
