<div class="navbar navbar-expand-lg navbar-light navbar-logo-bg border-nav-bottom">
	<div class="mx-auto d-block">
		<div class="row">
			<div class="col-sm-12">
				<%= image_tag("lg.png", :alt => "logo") %>
			</div>
		</div>
	</div>
</div>

<div class="navbar navbar-expand-lg navbar-light navbar-logo-bg2 border-nav-bottom">
	<nav class="mx-auto d-block">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="menu">
					<%= link_to "Início", root_path, class: 'push-menu' %>
					<%= link_to "A Associação", about_path, class: 'push-menu' %>
					<%= link_to "Projetos", posts_path, class: 'push-menu' %>
				</div>
			</div>
		</div>
	</nav>
</div>

<!--<div class="navbar navbar-expand-lg navbar-light navbar-logo-bg border-nav-bottom">
	<nav class="mx-auto d-block">
		<div class="row">
			<div class="col-sm-12">
				<%= image_tag("logo.png", :alt => "logo") %>
			</div>
			<div class="col-sm-12 text-center">
				<div class="menu">
					<a class="push-menu" href="#"> Início </a>
					<a class="push-menu" href="#">  A associação </a>
					<a class="push-menu" href="#"> Projetos </a>
				</div>
			</div>
		</div>
	</nav>
</div>

 -->