<!DOCTYPE html>
<html>
<head>
  <title>AMC|Associação dos Moradores do Sítio Carás do Umarí</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom.css' %>
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'jquery.fancybox.min.css' %>
  <%= stylesheet_link_tag 'owl.carousel.min.css' %>
  <%= stylesheet_link_tag 'owl.theme.default.min.css' %>
  <%= stylesheet_link_tag 'aos.css' %>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link href="images/logo.png" rel="icon">
 
    

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.min.css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="stylesheets/aos.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=2600922379998948&autoLogAppEvents=1"></script>

  <%= yield %>

    <%= javascript_include_tag 'aos' %>
 
 
    <%= javascript_include_tag 'bootstrap.min' %>

    <%= javascript_include_tag 'jquery-3.3.1.min' %>
    <%= javascript_include_tag 'jquery-migrate-3.0.1.min' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jquery.animateNumber.min' %>
    <%= javascript_include_tag 'jquery.countdown.min' %>
    <%= javascript_include_tag 'jquery.easing.1.3' %>
    <%= javascript_include_tag 'jquery.fancybox.min' %>
    <%= javascript_include_tag 'jquery.magnific-popup.min' %>
   
    <%= javascript_include_tag 'jquery.sticky' %>
    <%= javascript_include_tag 'jquery.waypoints.min' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'mediaelement-and-player.min' %>
    <%= javascript_include_tag 'owl.carousel.min' %>
    <%= javascript_include_tag 'popper.min' %>
    <%= javascript_include_tag 'slick.min' %>
    <%= javascript_include_tag 'trix_uploads' %>
    <%= javascript_include_tag 'typed' %>
</body>
</html>
